@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #4cb691;
    font: 18px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
}

a {
    color: seagreen;
    padding: .25rem .5rem;
    text-decoration: none;
}

.container {
    background-color: #f5f5f5;
    margin: 2rem auto;
    max-width: 60rem;
    width: 90%
/* can add shadow (42:49) */
}