html {
    color: #4cb691;
    font: 18px/1.618 sans-serif;
    font-family: sans-serif;
}

a {
    color: seagreen;
    text-decoration: none; 
}

.container {
    background-color: #f5f5f5;
}

#header_name {
    font-style: bold;
}

.header_nav_listItem {
    list-style-type: none;
}
/* when mouse on nav items (about me) (projects) turn gray. */
.header_nav_listItem:hover {
    background-color: gray;
    transition: none;
}

.footer {
    background-color: lightgray;
}

.fa {
    text-decoration: none;
}
/* When cursor on linkedin/github symbol, opacity changes */
.fa:hover {
    opacity: .7;
}
/* create the linkedin color */
.fa-linkedin{
    background: #3b5998;
    color: white;
}

/* create the github color */
.fa-github {
    background: #000;
    color: white;
}
